<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resource.FestivalMapper">
 	<select id="selectFestival" parameterType="vo.SearchFestaInfoVO"  resultType="vo.FestivalVO">
 		select f.fid, f.name, f.lat, f.lng, to_char(f.opendate, 'yyyy.mm.dd') opendate
 			, to_char(f.closedate, 'yyyy.mm.dd') closedate, f.place 
 		from (select row_number() over(order by f.fid desc) as rnum, f.place, f.fid, f.name, 
 		 			f.lat, f.lng, d.opendate, d.closedate 
 		 	from festival f, festadate d 
 			where type like '%'||#{type}||'%' and place like '%'||#{district}||'%' 
 					and f.fid = d.fid and to_char(d.opendate, 'mm') like '%'||#{month}||'%' ) f 
 		where <![CDATA[f.rnum BETWEEN #{startRow} and #{endRow}]]>
 	</select>
 	<select id="selectFestivalImage" parameterType="_int" resultType="java.sql.Blob">
 		select image
 		from festaimg
 		where fid=${fid}
 	</select>
 	<select id="selectFestivalCount" parameterType="vo.SearchFestaInfoVO" resultType="_int">
 		select count(*) 
 		from festival f, festadate d
    	where type like '%'||#{type}||'%' and place like '%'||#{district}||'%' and f.fid = d.fid and
    				to_char(d.opendate, 'mm') like '%'||#{month}||'%'
 	</select>
 		<select id="selecImgSlide" parameterType="_int" resultType="int">
 		select fid from 
(select rownum rn, da.fid
from festadate da
where to_char(add_months(sysdate,#{number}), 'mm') = to_char(opendate, 'mm')) f
where <![CDATA[rn BETWEEN 1 and 5]]>
 	</select>
</mapper>