{% block css %}
<style>
.th > .th-1 {
    width: 5%;
}
.th > .th-2 {
    width: 10%;
}
.th > .th-3 {
    width: 35%;
}
.th > .th-4 {
    width: 50%;
}
</style>
{% endblock %}
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Disease DataTables</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr class="th">
                            <th class="th-1">No</th>
                            <th class="th-2">병명</th>
                            <th class="th-3">증상</th>
                            <th class="th-4">진단</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for disease in diseases %}
                        <tr>
                            <td>{{ disease.pk }}</td>
                            <td>{{ disease.name }}</td>
                            <td>{{ disease.symptom }}</td>
                            <td>{{ disease.diagnosis }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>