{% extends 'main/base.html' %}
{% load static %}

{% block body %}
<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  {% include 'main/_sidebar.html' %}
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      {% include 'main/_topbar.html' %}
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      {% include 'main/_content.html' %}
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    {% include 'main/_footer.html' %}
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

{% endblock %}